⁨Users/⁨Home/⁨PycharmProjects/⁨Technical/⁨InterWorks_DE⁩/⁨Data_Engineer_Flights⁩
.ipynb_checkpoints/Database_Flights_ORIGINAL-checkpoint.ipynb
.ipynb_checkpoints/InterWorks_DE_ORIGINAL-checkpoint.ipynb
*.txt
*.png
Database_Flights_ORIGINAL.ipynb
